<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="text-block textaligncenter">
                              <h1>Fashion Week Chicago</h1>
                          </div>
                          <div id="owl-slider" class="owl-carousel">

                            <div class="owl-item"><%= image_tag "projects/fw15/owl_fw15_1.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/fw15/owl_fw15_2.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/fw15/owl_fw15_3.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/fw15/owl_fw15_4.jpg" %></div>

                          </div>

                            <div class="text-block textaligncenter slider-info">
                              <p>In this project we used projection mapping to showcase what the fashion and technology might look like in 2035.</p>
                            </div>

                            <%= render "projects/backtoprojectsbtn.html.erb" %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
