<footer>
	<div class="footer-widgets">
    	<div class="container">
        	<div class="row">

<!--  Start of the About blurb -->

                <div class="col-md-4">
                    <div id="text-2" class="widget widget_text">
                    	<h3>About Conexus Technology</h3>
                    		<div class="textwidget"> Conexus excels at developing a customized technology road map for businesses of all sizes. We use technology to provide productive spaces and experiences that are tailored to the needs of your business.
                    		</div>
					</div>
				</div>

<!--  Start of Footer Navigation-->

            	<div class="col-md-4">
                    <div><h3>Links</h3></div>
                        <%= link_to "Home", root_path %>
													<div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                        <%= link_to "About", about_path %>
													<div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                        <%= link_to "Experience", experience_path %>
													<div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                        <%= link_to "Trends", blogs_path %>
													<div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
                        <%= link_to "Contact", contact_path %>
													<div class="separator  transparent center  " style="margin-top: 3px;margin-bottom: 9px;"></div>
              </div>

 <!--  Start of Social Links -->

                <div class="col-md-4">
                    <div id="social-widget-2" class="widget social_widget">
                    	<h3>Connect with Us</h3>

                    	<a href="" target="_blank"><i class="font-icon-social-facebook"></i></a>
                    	<a href="" target="_blank"><i class="font-icon-social-linkedin"></i></a>
                    	<a href="" target="_blank"><i class="font-icon-social-twitter"></i></a>
                    	<a href="" target="_blank"><i class="font-icon-social-instagram"></i></a>

                    </div>
                </div>
            </div>
    	</div>
	</div>

<!-- Start Footer Credits -->

	<div id="wrapper">
	<section id="footer-credits">
		<div class="container">
			<div class="row">
				<div class="col-md-12 textaligncenter" id="copyright-text">
	  			<p class="copyright">© Copyright 2016 Conexus Technology</p>
				</div>
			</div>
		</div>
	</section>
	</div>

<!-- End Footer Credits -->
</footer>
