<!DOCTYPE html>
<html>
<head>
  <title>Conexus Technology</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="wrap_all">
    	<div id="page_container">
          <header id="header">
        	   <%= render "layouts/navbar" %>
      		</header>
          <div id="main" class="sticky-header">
              <section id="page">
    		        <%= yield %>
              </section>
        			<footer>
                <%= render "layouts/footer" -%>
              </footer>
      	  </div>
      </div>
  </div>

</body>
</html>
